# -----------------------------------------------------------------------------
# Portfolio Frontend Environment Variables
# -----------------------------------------------------------------------------

# The base URL of the Backend API service
VITE_API_BASE_URL=http://localhost:3000/api
VITE_PORTFOLIO_WEB_BASE_URL=http://localhost:5174
VITE_PORTFOLIO_MANAGEMENT_BASE_URL=http://localhost:5173
