# -----------------------------------------------------------------------------
# Portfolio Frontend Environment Variables
# -----------------------------------------------------------------------------

# The base URL of the Backend API service
REACT_APP_API_BASE_URL=http://localhost:3000/api
